In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel("C:/Users/rahul/OneDrive/Desktop/Internship/Global Superstore (2).xls")

In [3]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\rahul\anaconda\lib\site-packages (2.0.1)

In [4]:
import xlrd

In [5]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [6]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [7]:
df.shape

(51290, 24)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(2), object(15)
memory usage: 9.4+ MB

In [9]:
df.dtypes

Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Postal Code              float64
Market                    object
Region                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority            object
dtype: object

In [10]:
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import style
%matplotlib inline

#### outliers

In [12]:
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,51290,51290,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375818
min,1.00000,2011-01-01 00:00:00,2011-01-03 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.002000
25%,12823.25000,2012-06-19 00:00:00,2012-06-23 00:00:00,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,2013-07-08 00:00:00,2013-07-12 00:00:00,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,2014-05-22 00:00:00,2014-05-26 00:00:00,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,2014-12-31 00:00:00,2015-01-07 00:00:00,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000
std,14806.29199,NaN,NaN,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296810

## Outlier Treatment

In [14]:
plt.boxplot(df['Profit'])

{'whiskers': [<matplotlib.lines.Line2D at 0x1d50ae7ef90>,
  <matplotlib.lines.Line2D at 0x1d50ae7f140>],
 'caps': [<matplotlib.lines.Line2D at 0x1d50ae7f3b0>,
  <matplotlib.lines.Line2D at 0x1d50ae7f680>],
 'boxes': [<matplotlib.lines.Line2D at 0x1d50f488830>],
 'medians': [<matplotlib.lines.Line2D at 0x1d50ae7f980>],
 'fliers': [<matplotlib.lines.Line2D at 0x1d50ae7fc20>],
 'means': []}

In [15]:
df['Profit'].quantile([0.1,0.25,0.5,0.75,1.0])

0.10     -30.5712
0.25       0.0000
0.50       9.2400
0.75      36.8100
1.00    8399.9760
Name: Profit, dtype: float64

In [16]:
df.shape

(51290, 24)

In [17]:
df_1=df[(df['Profit']>=0.0)& (df["Profit"]<=36.8100)]

In [18]:
df_1.shape

(25928, 24)

In [19]:
plt.boxplot(df_1['Profit'])

{'whiskers': [<matplotlib.lines.Line2D at 0x1d50aede480>,
  <matplotlib.lines.Line2D at 0x1d50aedff20>],
 'caps': [<matplotlib.lines.Line2D at 0x1d50aef8200>,
  <matplotlib.lines.Line2D at 0x1d50aef83e0>],
 'boxes': [<matplotlib.lines.Line2D at 0x1d50aedf3b0>],
 'medians': [<matplotlib.lines.Line2D at 0x1d50aef86e0>],
 'fliers': [<matplotlib.lines.Line2D at 0x1d50aef8980>],
 'means': []}

In [20]:
plt.boxplot(df_1["Sales"])

{'whiskers': [<matplotlib.lines.Line2D at 0x1d50aef9970>,
  <matplotlib.lines.Line2D at 0x1d50aef9c40>],
 'caps': [<matplotlib.lines.Line2D at 0x1d50aef9e80>,
  <matplotlib.lines.Line2D at 0x1d50aefa150>],
 'boxes': [<matplotlib.lines.Line2D at 0x1d50aef97f0>],
 'medians': [<matplotlib.lines.Line2D at 0x1d50aefa450>],
 'fliers': [<matplotlib.lines.Line2D at 0x1d50aefa6f0>],
 'means': []}

In [21]:
df_1["Sales"].quantile([0.1,0.25,0.5,0.75,1.0])

0.10      12.54
0.25      23.64
0.50      48.78
0.75      96.18
1.00    3616.50
Name: Sales, dtype: float64

In [22]:
df_2=df_1[(df_1["Sales"] >=23.64) & (df_1["Sales"] <=96.18)]

In [23]:
df_2.shape

(12977, 24)

In [24]:
plt.boxplot(df_2["Sales"])

{'whiskers': [<matplotlib.lines.Line2D at 0x1d50af15310>,
  <matplotlib.lines.Line2D at 0x1d50af155e0>],
 'caps': [<matplotlib.lines.Line2D at 0x1d50af15880>,
  <matplotlib.lines.Line2D at 0x1d50af15760>],
 'boxes': [<matplotlib.lines.Line2D at 0x1d50af151c0>],
 'medians': [<matplotlib.lines.Line2D at 0x1d50af15bb0>],
 'fliers': [<matplotlib.lines.Line2D at 0x1d50af15e20>],
 'means': []}

In [25]:
plt.boxplot(df_2["Quantity"])

{'whiskers': [<matplotlib.lines.Line2D at 0x1d50af17830>,
  <matplotlib.lines.Line2D at 0x1d50af17aa0>],
 'caps': [<matplotlib.lines.Line2D at 0x1d50aede6f0>,
  <matplotlib.lines.Line2D at 0x1d50f90f200>],
 'boxes': [<matplotlib.lines.Line2D at 0x1d50af17380>],
 'medians': [<matplotlib.lines.Line2D at 0x1d50af14f20>],
 'fliers': [<matplotlib.lines.Line2D at 0x1d50af17f20>],
 'means': []}

In [26]:
df_2["Quantity"].quantile([0.1,0.25,0.5,0.75,1.0])

0.10     1.0
0.25     2.0
0.50     3.0
0.75     4.0
1.00    14.0
Name: Quantity, dtype: float64

In [27]:
df_3=df_2[(df_2["Quantity"] >=2.0) & (df_2["Quantity"] <=4.0)]

In [28]:
df_3.shape

(7906, 24)

In [29]:
plt.boxplot(df_3["Quantity"])

{'whiskers': [<matplotlib.lines.Line2D at 0x1d50af461e0>,
  <matplotlib.lines.Line2D at 0x1d50af46480>],
 'caps': [<matplotlib.lines.Line2D at 0x1d50af46720>,
  <matplotlib.lines.Line2D at 0x1d50af46990>],
 'boxes': [<matplotlib.lines.Line2D at 0x1d50af46030>],
 'medians': [<matplotlib.lines.Line2D at 0x1d50af46c30>],
 'fliers': [<matplotlib.lines.Line2D at 0x1d50af46ea0>],
 'means': []}

In [30]:
plt.boxplot(df_3["Shipping Cost"])

{'whiskers': [<matplotlib.lines.Line2D at 0x1d50fd209b0>,
  <matplotlib.lines.Line2D at 0x1d50fd20a40>],
 'caps': [<matplotlib.lines.Line2D at 0x1d50fd20d10>,
  <matplotlib.lines.Line2D at 0x1d50fd20fb0>],
 'boxes': [<matplotlib.lines.Line2D at 0x1d50af47dd0>],
 'medians': [<matplotlib.lines.Line2D at 0x1d50fd212b0>],
 'fliers': [<matplotlib.lines.Line2D at 0x1d50fd21550>],
 'means': []}

In [31]:
df_3["Shipping Cost"].quantile([0.1,0.25,0.5,0.75,1.0])

0.10     1.72000
0.25     2.70000
0.50     4.46100
0.75     7.23675
1.00    47.28000
Name: Shipping Cost, dtype: float64

In [32]:
df_4=df_3[(df_3["Shipping Cost"] >=2.70) & (df_3["Shipping Cost"] <=7.23675)]

In [33]:
df_4.shape

(3953, 24)

In [34]:
plt.boxplot(df_4["Shipping Cost"])

{'whiskers': [<matplotlib.lines.Line2D at 0x1d50fd20830>,
  <matplotlib.lines.Line2D at 0x1d50fd23500>],
 'caps': [<matplotlib.lines.Line2D at 0x1d50fd23740>,
  <matplotlib.lines.Line2D at 0x1d50fd239b0>],
 'boxes': [<matplotlib.lines.Line2D at 0x1d50fd23320>],
 'medians': [<matplotlib.lines.Line2D at 0x1d50fd23cb0>],
 'fliers': [<matplotlib.lines.Line2D at 0x1d50fd23f50>],
 'means': []}

In [35]:
df_4.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
26583,10778,ES-2014-5617990,2014-09-11,2014-09-12,First Class,LW-16825,Laurel Workman,Corporate,Schiltigheim,Alsace,...,OFF-SU-10003160,Office Supplies,Supplies,"Acme Ruler, High Speed",33.420,2,0.0,1.320,7.23,High
26584,17129,ES-2014-3096832,2014-07-04,2014-07-09,Standard Class,BW-11065,Barry Weirich,Consumer,Catania,Sicily,...,OFF-AR-10002145,Office Supplies,Art,"Binney & Smith Sketch Pad, Fluorescent",95.160,2,0.0,4.740,7.23,Medium
26586,21231,IN-2012-45951,2012-11-02,2012-11-06,Standard Class,JG-15115,Jack Garza,Consumer,Bhopal,Madhya Pradesh,...,OFF-EN-10000315,Office Supplies,Envelopes,"Jiffy Business Envelopes, Security-Tint",47.880,3,0.0,9.090,7.23,High
26587,23945,IN-2012-40547,2012-11-29,2012-11-30,First Class,GT-14710,Greg Tran,Consumer,Adelaide,South Australia,...,OFF-BI-10004685,Office Supplies,Binders,"Acco Binder, Economy",40.905,3,0.1,9.495,7.23,High
26594,31408,CA-2013-128867,2013-11-04,2013-11-11,Standard Class,CL-12565,Clay Ludtke,Consumer,Urbandale,Iowa,...,OFF-AR-10000380,Office Supplies,Art,"Hunt PowerHouse Electric Pencil Sharpener, Blue",75.960,2,0.0,22.788,7.23,Medium

## Imputations - Missing Values

In [37]:
df_4.isnull().sum()

Row ID               0
Order ID             0
Order Date           0
Ship Date            0
Ship Mode            0
Customer ID          0
Customer Name        0
Segment              0
City                 0
State                0
Country              0
Postal Code       3268
Market               0
Region               0
Product ID           0
Category             0
Sub-Category         0
Product Name         0
Sales                0
Quantity             0
Discount             0
Profit               0
Shipping Cost        0
Order Priority       0
dtype: int64

In [38]:
df_4.drop(['Postal Code'],axis=1,inplace=True)

C:\Users\rahul\AppData\Local\Temp\ipykernel_12380\934186009.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.drop(['Postal Code'],axis=1,inplace=True)

In [39]:
df_4.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
City              0
State             0
Country           0
Market            0
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Quantity          0
Discount          0
Profit            0
Shipping Cost     0
Order Priority    0
dtype: int64

## Slicing the data into Numerical and categorical

In [41]:
nc=df_4.select_dtypes(include=[np.number])

In [42]:
cc=df_4.select_dtypes(include=['object'])

In [43]:
nc.columns

Index(['Row ID', 'Sales', 'Quantity', 'Discount', 'Profit', 'Shipping Cost'], dtype='object')

In [44]:
cc.columns

Index(['Order ID', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment',
       'City', 'State', 'Country', 'Market', 'Region', 'Product ID',
       'Category', 'Sub-Category', 'Product Name', 'Order Priority'],
      dtype='object')

# Encoding and Scaling

In [46]:
nc.drop(['Row ID'],axis=1,inplace=True)

In [47]:
from sklearn.preprocessing import LabelEncoder,MinMaxScaler

In [48]:
le=LabelEncoder()

In [49]:
mm=MinMaxScaler()

In [50]:
cc_e=cc.apply(le.fit_transform )

In [51]:
nc_mm=mm.fit_transform(nc)

In [52]:
nc.columns

Index(['Sales', 'Quantity', 'Discount', 'Profit', 'Shipping Cost'], dtype='object')

In [53]:
nc_mm=mm.fit_transform(nc)