In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/rahul/OneDrive/Desktop/Internship/IMDB Dataset.csv")

In [3]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

## LOWER CASE

In [5]:
df['review']=df['review'].str.lower()

In [6]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

## REMOVING HTML TAGS

In [8]:
import re #regular expressions 
def remove_html_tags(text):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'',text)

In [9]:
df['review']=df['review'].apply(remove_html_tags)

In [10]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

## REMOVE URLS

In [12]:
def remove_urls(text):
    pattern = re.compile(r'https?://\s+\www.\.\s+')
    return pattern.sub(r'',text)

In [13]:
df["review"]=df['review'].apply(remove_urls)

In [14]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

## REMOVE PUNCTUATIONS

In [16]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [17]:
exclude = string.punctuation

In [18]:
def remove_punc1(text):
    return text.translate(str.maketrans("","",exclude))

In [19]:
df['review'] = df['review'].apply(remove_punc1)

In [20]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production the filming tech...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically theres a family where a little boy j...  negative
4      petter matteis love in the time of money is a ...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  im going to have to disagree with the previous...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

## REMOVING STOPWORDS

In [22]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rahul\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [23]:
from nltk.corpus import stopwords

In [24]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [25]:
def remove_stopwords(text):
    new_text = []
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x= new_text[:]
    new_text.clear()
    return " ".join(x)

In [26]:
#df['review'] = df['review'].apply(remove_stopwords)

In [27]:
#df

## HANDLING EMOJI'S
### If we have emojis in the text, we have to options:
#### Removing Emoji's (OR)
#### Replacing emojis in the form of text

In [29]:
import re 
def remove_emoji(text):
    emoji_pattern = re.compile('['"u\U0001F600-\U0001F64F"  # Emotions
                               "u\U0001F300-\U0001F5FF"  # Symbols & pictographs
                               "u\U0001F680-\U0001F6FF"  # Transport & map symbols
                               "u\U0001F1E0-\U0001F1FF"  # Flags(iOS)
                               "u\U00002702-\U000027B0"
                               "u\U000024C2-\U0001F251"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'',text)

In [30]:
remove_emoji("Loved the movie, it was 👍")

'Loved the movie, it was '

In [31]:
pip install emoji

Requirement already satisfied: emoji in c:\users\rahul\anaconda\lib\site-packages (2.14.1)
Note: you may need to restart the kernel to use updated packages.

In [32]:
import emoji
print(emoji.demojize('Python is 🔥'))

Python is :fire:

## TOKENIZATION
#### 1. USING THE SPLIT FUNCTION

In [34]:
#WORD TOKENIZATION
a = 'I am going to delhi'
a.split()

['I', 'am', 'going', 'to', 'delhi']

In [35]:
# Sentence Tokenization
b = 'Iam going to delhi. I will stay there for 3 days. Let\'s hope the trip to be great'
b.split('.')

['Iam going to delhi',
 ' I will stay there for 3 days',
 " Let's hope the trip to be great"]

In [36]:
# Problem with split function
c = 'I am going to delhi'
c.split()

['I', 'am', 'going', 'to', 'delhi']

In [37]:
d = 'Where do think I should go? I have 3 day holiday'
d.split('.')

['Where do think I should go? I have 3 day holiday']

## 2.REGULAR EXPRESSION

In [39]:
import re 
e = 'I am going to delhi'
tokens = re.findall("[\w']+", e)
tokens

<>:3: SyntaxWarning: invalid escape sequence '\w'
<>:3: SyntaxWarning: invalid escape sequence '\w'
C:\Users\rahul\AppData\Local\Temp\ipykernel_10164\3355912277.py:3: SyntaxWarning: invalid escape sequence '\w'
  tokens = re.findall("[\w']+", e)

['I', 'am', 'going', 'to', 'delhi']

In [40]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""
sentences = re.compile('[.!?] ').split(text)
sentences

["Lorem Ipsum is simply dummy text of the printing and typesetting industry?\nLorem Ipsum has been the industry's standard dummy text ever since the 1500s,\nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book."]

## 3.NLTK

In [42]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [43]:
sent1 = 'I am goind to visit delhi!'
word_tokenize(sent1)

['I', 'am', 'goind', 'to', 'visit', 'delhi', '!']

In [44]:
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\rahul\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [45]:
import warnings
warnings.filterwarnings('ignore')

In [46]:
sent5 = 'I have a Ph.D in A.I'
sent6 = "We're  here to help! mail us at gks@gmail.com"
sent7 = 'A 5km ride cost $10.50'

In [47]:
word_tokenize(sent5)

['I', 'have', 'a', 'Ph.D', 'in', 'A.I']

In [48]:
word_tokenize(sent6)

['We',
 "'re",
 'here',
 'to',
 'help',
 '!',
 'mail',
 'us',
 'at',
 'gks',
 '@',
 'gmail.com']

In [49]:
word_tokenize(sent7)

['A', '5km', 'ride', 'cost', '$', '10.50']

## STEMMING

In [51]:
from nltk.stem.porter import PorterStemmer

In [52]:
ps=PorterStemmer()
def stem_words(text):
    return ' '.join([ps.stem(word) for word in text.split()])

In [53]:
sample = "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

In [54]:
text = "probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years."
print(text)

probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years.

In [55]:
stem_words(text)

'probabl my all time favourit movi a stori of selfless sacrific and dedic to a nobl caus but it not preachi or bore it just never get old despit my have seen some 15 or more time in the last 25 years.'

 -Here after doing stemming the words like probably, movie, sacrifice etc are converted to probabl, movi, sacrific
- To solve this issue we will do Lemmetization.
- Work of both Stemming and Lemmetization are same.
- The difference is, Lemmetization is slow compared to Stemming

## LEMMATIZER

In [58]:
import nltk
from nltk.stem  import WordNetLemmatizer

In [59]:
# Download the WordNet corpus
nltk.download('wordnet')

# You might also need to download the 'omw-1.4' package for wordnet
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\rahul\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\rahul\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [60]:
wordnet_lemmatizer = WordNetLemmatizer()

sentence = "He aws running and eating at same time. He has bad habit of swimming after playing long hours in the Sun."
punctuations = "?:!.,;"
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    if word in punctuations:
        sentence_words.remove(word)
    
sentence_words
print("{0:20}{1:20}".format("Word","Lemma"))
for word in sentence_words:
    print("{0:20}{1:20}".format(word,wordnet_lemmatizer.lemmatize(word,pos='v')))

Word                Lemma
He                  He
aws                 aws
running             run
and                 and
eating              eat
at                  at
same                same
time                time
He                  He
has                 have
bad                 bad
habit               habit
of                  of
swimming            swim
after               after
playing             play
long                long
hours               hours
in                  in
the                 the
Sun                 Sun

## CV_TFIDF

In [111]:
import numpy as np 
import pandas as pd
import random
import os
import re

In [113]:
df.columns

Index(['review', 'sentiment'], dtype='object')

In [121]:
df["words"] = "default value"
df["sentences"] = "default value"

for i in range(df.shape[0]):
    df.at[i,"words"]=list("")
    df.at[i,"sentences"] = list("")

In [117]:
from nltk.tokenize import sent_tokenize

In [131]:
import pandas as pd
from nltk.tokenize import sent_tokenize

# Assuming df is already defined and contains the necessary data

# Function to ensure the text is a string
def ensure_string(text):
    if isinstance(text, list):
        return " ".join(text)
    return text

# Apply the function to the 'review' column
df['review'] = df['review'].apply(ensure_string)

# Tokenize sentences
for i in range(499):
    review_text = df.loc[i, "review"]
    l1 = sent_tokenize(review_text)
    df.at[i, "sentiment"] = l1

# Print the resulting DataFrame to verify
print(df.head())

  review sentiment words sentences
0               []    []        []
1               []    []        []
2               []    []        []
3               []    []        []
4               []    []        []

In [127]:
from pywsd.utils import lemmatize_sentence

Warming up PyWSD (takes ~10 secs)... took 3.4727609157562256 secs.

In [129]:
for k in range(df.shape[0]):
    df.at[k,"words"]=list("")
    for j in range(len(df.loc[k,"sentences"])):
        df.at[k,"words"].extend(lemmatize_sentence(df.loc[k,"sentences"][j]))

In [133]:
import nltk
nltk.download('averaged_perceptron_tagger_eng')

[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     C:\Users\rahul\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!

True

In [135]:
df["words_sentences"] = "default"

In [137]:
import functools
import pandas as pd

# Assuming df is already defined and contains the necessary data

# Function to concatenate words in a list
def concatenate_words(words):
    if not words:
        return ""  # Return an empty string if the list is empty
    return functools.reduce(lambda a, b: str(a) + " " + str(b), words, "")

# Apply the function to each row
for k in range(df.shape[0]):
    words = df.loc[k, "words"]
    df.loc[k, "words_sentences"] = concatenate_words(words)

# Print the resulting DataFrame to verify
print(df.head())

  review sentiment words sentences words_sentences
0               []    []        []
1               []    []        []
2               []    []        []
3               []    []        []
4               []    []        []

In [139]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [165]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

# Assuming df is already defined and contains the necessary data

# Print out the first few rows of the 'words_sentences' column to inspect
print(df['words_sentences'].head())

# Check for empty or null values
print(df['words_sentences'].isnull().sum())  # Count of null values
print(df['words_sentences'].apply(lambda x: len(str(x).strip()) == 0).sum())  # Count of empty strings

# Fill null values with an empty string
df['words_sentences'].fillna('', inplace=True)

# Remove rows with empty strings in 'words_sentences'
df = df[df['words_sentences'].apply(lambda x: len(str(x).strip()) > 0)]

# Initialize the TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words='english', lowercase=True)

# Fit and transform the text data
try:
    tfidf_matrix = tfidf_vectorizer.fit_transform(df['words_sentences'])
    print(tfidf_matrix)
except ValueError as e:
    print("Error:", e)

0
1
2
3
4
Name: words_sentences, dtype: object
0
50000
Error: empty vocabulary; perhaps the documents only contain stop words

In [167]:
# Check if tfidf_matrix is defined
if 'tfidf_matrix' in locals():
    dense = pd.DataFrame(tfidf_matrix.todense(), columns=tfidf_vectorizer.get_feature_names_out())
    print(dense.head())
else:
    print("tfidf_matrix is not defined.")

tfidf_matrix is not defined.

In [183]:
#dense = pd.DataFrame(tfidf_matrix.todense(), columns=tfidf_vectorizer.get_feature_names_out())

In [195]:
df_y=df["review"]

In [197]:

from sklearn.preprocessing import LabelEncoder

In [199]:
le=LabelEncoder()

In [201]:
df_y_1=pd.DataFrame(df_y)

In [205]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Assuming df_y_1 is already defined

# Inspect the DataFrame or Series
print(df_y_1.head())

# Check if it's empty
if df_y_1.empty:
    print("The DataFrame or Series is empty.")
else:
    # Initialize the LabelEncoder
    le = LabelEncoder()

    # Apply LabelEncoder and handle the transformation
    df_y_enc = df_y_1.apply(lambda x: le.fit_transform(x) if x.notnull().any() else x)
    print(df_y_enc.head())

Empty DataFrame
Columns: [review]
Index: []
The DataFrame or Series is empty.

In [207]:
df_y_enc.head(5)

NameError: name 'df_y_enc' is not defined

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [161]:
GBC=GradientBoostingClassifier(n_estimators=3000)

In [163]:
gb_c=GBC.fit(dense,df_y_enc)

NameError: name 'dense' is not defined

In [ ]:
GBC.score(dense,df_y_enc)